[submodule "nerdtree"]
	path = nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/javascript_indent"]
	path = bundle/javascript_indent
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/XPT"]
	path = bundle/XPT
	url = git://github.com/drmingdrmer/xptemplate-dist.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/leshill/vim-json.git
